<%= form_for(@robot_design) do |f| %>
  <% if @robot_design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot_design.errors.count, "error") %> prohibited this robot_design from being saved:</h2>

      <ul>
      <% @robot_design.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_number %><br />
    <%= f.number_field :team_number %>
  </div>
  <div class="field">
    <%= f.label :durability %><br />
    <%= f.number_field :durability %>
  </div>
  <div class="field">
    <%= f.label :mechanical_efficiency %><br />
    <%= f.number_field :mechanical_efficiency %>
  </div>
  <div class="field">
    <%= f.label :mechanization %><br />
    <%= f.number_field :mechanization %>
  </div>
  <div class="field">
    <%= f.label :programming_quality %><br />
    <%= f.number_field :programming_quality %>
  </div>
  <div class="field">
    <%= f.label :programming_efficiency %><br />
    <%= f.number_field :programming_efficiency %>
  </div>
  <div class="field">
    <%= f.label :automation_navigation %><br />
    <%= f.number_field :automation_navigation %>
  </div>
  <div class="field">
    <%= f.label :design_process %><br />
    <%= f.number_field :design_process %>
  </div>
  <div class="field">
    <%= f.label :mission_strategy %><br />
    <%= f.number_field :mission_strategy %>
  </div>
  <div class="field">
    <%= f.label :innovation %><br />
    <%= f.number_field :innovation %>
  </div>
  <div class="field">
    <%= f.label :mechanical_design_total %><br />
    <%= f.number_field :mechanical_design_total %>
  </div>
  <div class="field">
    <%= f.label :programming_total %><br />
    <%= f.number_field :programming_total %>
  </div>
  <div class="field">
    <%= f.label :strategy_innovation_total %><br />
    <%= f.number_field :strategy_innovation_total %>
  </div>
  <div class="field">
    <%= f.label :robot_design_total %><br />
    <%= f.number_field :robot_design_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
